.navbar { margin-bottom: 0 }
* {
    border-radius: 0 !important;
    margin: 0 !important;
    line-height: 1.7;
    box-sizing: border-box;
  }
.insta:hover{
background-color: orangered;
}

.twitt:hover{
    background-color:lightseagreen;
    }

.drib:hover{
        background-color: rgb(201, 8, 40);
    }

.navBtn:hover{
        background-color: white;
        color: black !important;
        transition: 0.5s ;
    }

.active{
    background-color: white !important;
    color: black !important;
}
li{
    display: inline-block !important;
    
}
.bg-black{
    background-color: black !important;
}

.introduction{
    padding-top: 10%;
    padding-bottom: 12%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.pad-bottom{
    padding-bottom: 10%;
}
.pad-sm-bottom{
    padding-bottom: 5%;
}
.submitBtn{
    background-color: white;
    color: black;
    border: black 1px solid ;
}
.submitBtn:hover{
    background-color:rgb(100, 100, 100) ;
    color:black;
    border: white 1px solid; 
    transition: 0.5s ;
}
.input{
    border: black 1px solid ;
}
.form-control:focus {
    box-shadow: none;
    border: black 1px solid ;
  }

.grey-text{
    color: rgb(114, 114, 114);
}
.light-grey-text{
    color: rgb(160, 159, 159);
}
.bg-grey{
    background-color: rgba(233, 230, 230, 0.466);
}
.blog-card{
    opacity: 0.7;
    
}

.blog-card:hover{
    opacity: 1.0;
    transform: scale(1.1);
    transition: 0.5s;
    overflow: hidden;
}

.list{
    list-style-type: disc !important;
}

.list > li{
    display: list-item !important;
    list-style-type: disc !important;
}

.about-icon{
    padding: 25px;
    font-size: 20px;
    width: 80px;
}

.contact-icons{
    font-size: 20px;
    width: 30px;
}


  .arrow:hover{
    background-color: rgba(128, 128, 128, 0.836) !important;
}

.carousel-card{
    box-shadow: 0 0 10px rgba(141, 139, 139, 0.336);
}


 .left , .right{
    height: 25px;
     padding-bottom: 10px !important; 
     background-color: rgb(206, 204, 204);
    outline: none;
} 

 .left:hover , .right:hover{
    background-color: grey;
   
} 


.contact-input , .contact-input:hover,.contact-input:focus{
    background-color: rgba(141, 139, 139, 0.089);
    color: rgba(99, 99, 99, 0.637);
}

.contact-submit:hover{
    background-color: pink !important;
    transition: 1s;
}
.main-text{
    padding-left: 7%;
    padding-right: 7%;
}

.col-container {
    display: table;
    width: 100%;
  }
  .col {
    display: table-cell;
    padding: 16px;
  }
  
  @media only screen and (max-width: 600px) {
    .col { 
      display: block;
      width: 100%;
    }
    .image-cards > .col-sm-3 > .card >img{
        display: block;
      width: 100%;
      }
      .card{
        display: block;
      width: 100%;
        padding: 0 !important;
        margin: 2% !important;
        height: fit-content;
    }
  }
  .image-cards{
      margin-left: 0;
      margin-right: 0;
  }
  .image-cards> [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }
  .card{
      /* width: 500px; */
     
      padding: 0 !important;
      margin: 2% !important;
  }

  .overflow-hidden{
    height: 350px;
  }

  .image-cards > .col-sm-3 > .card >img{
    height: 200px;
    padding: 0 !important;
    margin: 0 !important;
  }
  .row{
      width: 100%;
  }
  a:hover{
      color: black;
  }

  .music-icon{
        position: absolute;
        padding: 20px !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:rgba(214, 211, 211, 0.61);
  }
  .music-icon:hover{
      background-color: rgb(49, 48, 48);
  }
  

  .box {
    width: 300px;
    min-height: 200px;
    background-color: white;
    color: rgb(119, 117, 117);
    padding: 20px;
    position: relative;
    margin: 40px;
    box-shadow: 0 0 10px rgba(141, 139, 139, 0.336);
    float: left;
  }
  
  .box.arrow-top {
    margin-top: 40px;
  }
  
  .box.arrow-top:after {
    content: " ";
    position: absolute;
    left: 30px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid rgba(126, 123, 123, 0.158);
  }